.destinationCard {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2xl);

    flex: 1;
    min-width: 280px;

    cursor: pointer;
    transition: transform var(--transition-base), box-shadow var(--transition-base);
}
.destinationCard:hover {
    transform: translateY(-6px);
}
.destinationCard:active {
    transform: translateY(-2px);
}

.imageWrapper {
    width: 100%;
    height: 260px;
    border-radius: var(--radius-md);
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

    transition: transform var(--transition-base);
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 var(--spacing-2xl);
    width: 100%;
    box-sizing: border-box;
}

.textGroup {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.title {
    font-family: var(--font-main-primary);
    font-weight: var(--font-weight-primary);
    font-size: var(--font-size-xl);
    color: var(--color-brand-primary-900);
    margin: 0;
}
.destinationCard:hover .title {
    color: var(--color-brand-primary-700);
}

.rating {
    background: var(--color-brand-primary-700);
    color: var(--color-brand-primary-100);
    font-family: var(--font-main-primary);
    font-weight: var(--font-weight-primary);

    width: 65px;
    height: 32px;
    padding: 0 12px;
    border-radius: var(--radius-lg);

    font-size: var(--font-size-md);

    display: flex;
    align-items: center;
    justify-content: center;

    gap: var(--spacing-xs);
}

.starIcon {
    width: 14px;
    height: 14px;
    object-fit: contain;

    padding-bottom: 2px;
}

.locationBlock {
    display: flex;
    align-items: center;
    gap: 6px;

    color: var(--color-brand-primary-700);
}

.pinIcon {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.locationText {
    font-family: var(--font-main-primary);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
}
