.textBlock {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;

    padding: 16px 0;
    margin: 0;

    gap: var(--spacing-4xl);

    width: 100%;
}
.h1 {
    font-family: var(--font-main-primary);

    font-size: var(--font-size-extra);
    font-weight: var(--font-weight-primary);
    text-transform: var(--text-transform-up);

    color: var(--color-brand-primary-100);

    padding: 0;
    margin: 0;

    line-height: 0.9;
}

.p {
    font-family: var(--font-main-primary);
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-normal);
    text-transform: var(--text-transform-up);

    color: var(--color-brand-primary-100);

    padding: 0;
    margin: 0;
}